<!DOCTYPE HTML>
<html lang="zh_cn"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>
            {% block title %}
            Hello
            {% endblock title %}
            </title>
    </head>
    <body>
        {% block body %}
        Oops! Some Error Happens.
        {% endblock body %}
    </body>
</html>
